*.obj
*.pdb
*.lib
*.exe
*.dll
*.exp
*.ilk
*.suo
*.user
projects/*/*/*/Release/
projects/*/*/*/Debug/
projects/*/*/*/.settings/
projects/*/*/*/*/Release/
projects/*/*/*/*/Debug/
projects/*/*/*/*/.settings/
bld
bin
obj
.settings/*
tags
.kdev*
*.d
*.gch
*.iml
doc/output/*
.idea
*.pyc
*.log
nbproject/*
logs/*
src/libs/java/*/target/
src/libs/java/*/.classpath
src/libs/java/*/.project
src/libs/java/*/.settings/
projects/make/ci-init-env.mk
